<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lucker Control Panel</title>
</head>

<body>
Управление модулями:
<br>
<a th:href="@{/download-page}">Downloader</a>
<br>
<a th:href="@{/download-page}">Verificator</a>
<br>
<a th:href="@{/download-page}"></a>
<br>
<a th:href="@{/download-page}">Downloader</a>
<br>
<a th:href="@{/download-page}">Downloader</a>
<br>
<a th:href="@{/download-page}">Downloader</a>
<br>
<a th:href="@{/download-page}">Downloader</a>
<br>
<a th:href="@{/download-page}">Downloader</a>
<br>

</body>

</html>